      <hr>
      <footer>
        <i class="fa fa-hand-o-right fa-3x"></i> <strong>联系我们</strong>
        <a href="http://weibo.com/u/2805868213"><i class="fa fa-weibo fa-3x"></i></a>
        <a href="https://github.com/cocoa-alex"><i class="fa fa-github fa-3x"></i></a>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>   